*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#fff;
  color:#000;
}

/* MENU */
.menu{
  position:fixed;
  top:0;
  width:100%;
  background:#fff;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 15px;
  box-shadow:0 2px 10px rgba(0,0,0,.1);
  z-index:100;
}

.logo{
  width:60px;
}

.menu nav a{
  color:#000;
  margin-left:10px;
  text-decoration:none;
  font-size:14px;
}

/* SEÇÕES */
.section{
  padding:90px 20px 40px;
  text-align:center;
}

.section h1,
.section h2{
  color:#000;
  margin:15px 0;
}

/* IMAGENS */
.img-principal{
  width:100%;
  max-width:350px;
  border-radius:12px;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  margin:15px 0;
}

.grid img,
.contato img{
  width:100%;
  border-radius:12px;
}

/* BOTÕES */
.btn{
  display:inline-block;
  background:#000;
  color:#fff;
  padding:12px 20px;
  border-radius:30px;
  text-decoration:none;
  margin-top:10px;
}

.destaque{
  background:#ff0080;
}

/* CONTATO */
.contato{
  display:flex;
  flex-direction:column;
  gap:15px;
}
